<style>
  .footer-full {
    width: 100vw; 
    height: auto;
    position: fixed;
    background-color: #171440; 
    font-size: medium;
    border-radius: 0;
    bottom: 0;
    left: 0;
    padding: 40px;
    box-shadow: 0;
  }

</style>
<footer class="footer-full text-white py-1">
  <div>
    <div class="row">
      <div class="col-12 col-md-6 text-center text-md-start mb-3 mb-md-0">
        &copy; 2025 PSEducation. Todos os direitos reservados.
      </div>
      <div class="col-12 col-md-6 text-center text-md-end">
        <a href="#" class="text-white text-decoration-none me-3">Política de Privacidade</a>
        <a href="#" class="text-white text-decoration-none">Contato</a>
      </div>
    </div>
  </div>
</footer>
